<li>
	{{burger_name}}

        {{#if devour}}
        {{else}}
        <button type= "button" class="btn-primary btn-sm" data-id="{{this.id}}" data-neweat="{{devour}}">Devour!</button>
        {{/if}}
</li>
